@media (min-width: 300px) {
  .info {
    margin-bottom: 70px;
  }
  .info-box {
    &__about {
      display: grid;
      grid-template-columns: repeat(1, 1fr);

    }
    &-title {
      margin-bottom: 35px;
    }
    &__card {
      text-align: center;
    }
    &__card-num {
      color: @color-green;
      font-weight: 700;
      font-size: 27px;
      line-height: 18px;
      font-family: @font-phil;
      margin-bottom: 10px;
    }
    &__card-parag {
      font-weight: 500;
      font-size: 12px;
      line-height: 18px;
      max-width: 150px;
      margin: 0 auto;
      margin-bottom: 35px;
    }
  }
  .info__text {
    margin-bottom: 100px;
    &-parag {
      min-width: 300px;
      margin: 0 auto;
    }
  }
  .info-box__about-img {
    display: none;
  }
}
@media (min-width: 480px) {
  .info-box__about {
    grid-template-columns: repeat(2, 2fr);
  }
}
@media (min-width: 768px) {
  .info-box {
    &__wrapper {
      display: flex;
      justify-content: center;
    }
    &__about-img {
      display: block;
    }

    &__card-num {
      font-weight: 700;
      font-size: 32px;
      line-height: 160%;
    }
    &__card-parag {
      font-weight: 500;
      font-size: 13px;
      line-height: 22px;
    }
  }
}
